// Global Variables

$floating-whatsapp-bg-size: 95px;
$floating-whatsapp-size: 53.98px;

$full: 100%;

$section-card-img-size: 64px;

$form-input-width: 426px;
$form-input-height: 51px;
$form-input-mobile-width: 307px;
$form-input-mobile-height: 37px;
$form-top-spacing: 21.4px;

$contact-option-size: 95px;
$contact-option-mobile-size: 46px;
